# Database Configuration for testing using the database url, MAKE SURE THE PORT IS DIFFERENT FROM THE ONE USED IN PRODUCTION TO AVOID CONFLICTS (make sure the port was based on the on exposed port in the docker-compose file for the database service and not the internal port used by the database container, because the internal port is the same for both production and testing, which is 5432, but the exposed port for testing is 5434 [5434 WAS TG=HIS REPO DEFAULT PORT FOR TESTING TO AVOID CONFLICTS WITH PRODUCTION DATABASE, YOU CAN CHANGE IT IF YOU WANT BUT MAKE SURE TO UPDATE THE PORT IN THE DATABASE_URL ACCORDINGLY])
DATABASE_URL=postgres://sensor_user:CHANGE_ME_POSTGRES_PASSWORD@postgres:5434/sensor_db?sslmode=disable